<!doctype html>
<title>{% block title %}{% endblock %} - WG Buchhaltung 1.1</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>WG Buchhaltung</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
  {% if g.user %}
    <a class="action" href="{{ url_for('meine_rechnungen.create') }}">Neue Rechnung erstellen</a>
    <a class="action" href="{{ url_for('meine_rechnungen.index') }}">Home</a>
    <a class="action" href="{{ url_for('meine_rechnungen.meineRechnungen') }}">Offene Rechnungen</a>
    <a class="action" href="{{ url_for('meine_rechnungen.otherRechnungen')}}">Zu Erhaltende Rechnungen</a>
    <a class="action" href="{{ url_for('meine_rechnungen.history')}}">Historie</a>
  {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block nav %}
  
{% endblock %}